<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atami.kikurage.atamikeyboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- IME -->
        <service
            android:name=".AtamiIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- 管理画面 -->
        <!--<activity-->
        <!--android:name=".MainActivity"-->
        <!--android:label="@string/app_name">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!-- 画像の追加 -->
        <!--<activity-->
        <!--android:name=".MainActivity"-->
        <!--android:label="@string/app_name">-->

        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.SEND" />-->
        <!--<action android:name="android.intent.action.SEND_MULTIPLE" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data android:mimeType="image/*" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!-- 画像の選択 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
